<!--File name: header.hbs
Author's name: Simranpreet Kaur (200427339)
Website name: http://localhost:3000/ and https://simranpreet-kaur-jewels-house.herokuapp.com/
 Description: This is the header file that is used on home page View -->

<!--Header for index or home page-->
<h3>Welcome to {{title}}</h3>
