<!--File name: header.hbs
Author's name: Simranpreet Kaur
Website name: http://localhost:3000/ and https://simranpreet-kaur-jewels-house.herokuapp.com/
 Description: This is the header file that is used on home page View -->

<h1>Welcome to {{title}}</h1>
