<!--File name: about.hbs
Author's name: Simranpreet Kaur (200427339)
Website name: http://localhost:3000/ and https://simranpreet-kaur-jewels-house.herokuapp.com/
 Description: This is the view for the about page -->

<!--About page content-->
<div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
        <h1 class="w3-center">About Jewels House</h1><br>
        <p>Welcome to our store, we Jewels House serving the people in Canada since 2015 with an affordable price. Proudly expanding stores in different provinces ensuring that each and every customer is satisfied.</p><br>
        <p>Ultimately we are here to offer the best deals in day to day life.</p>
    </div>
    <div class="w3-col l6 w3-padding-large">
        <!--Adding image-->
        <!--From-- https://gfycat.com/discover/jewelry-gifs -->
        <img src="images/about.gif" alt="about gif">
    </div>

</div>

