<!--File name: about.hbs
Author's name: Simranpreet Kaur
Website name: http://localhost:3000/ and https://simranpreet-kaur-jewels-house.herokuapp.com/
 Description: This is the view for the about page -->

<div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
        <h1 class="w3-center">About Jewels House}</h1><br>
        <h2>hello!!</h2><br>
        <p>This is a jewellery company.</p>
    </div>
    <div class="w3-col l6 w3-padding-large">
        <!--From-- https://gfycat.com/discover/jewelry-gifs -->
        <img src="images/about.gif" alt="about gif">
    </div>

</div>

