<!--File name: error.hbs
Author's name: Simranpreet Kaur (200427339)
Website name: http://localhost:3000/ and https://simranpreet-kaur-jewels-house.herokuapp.com/
 Description: This error file used to display error message -->

<!--Adding error content-->
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
