<!--File name: index.hbs
Author's name: Simranpreet Kaur
Website name: http://localhost:3000/
 Description: This is the view for the main or "home" page  -->

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
