<!--File name: index.hbs
Author's name: Simranpreet Kaur
Website name: http://localhost:3000/ and https://simranpreet-kaur-jewels-house.herokuapp.com/
 Description: This is the view for the main or "home" page  -->

<h1>{{title}}</h1>
{{> header}}
<div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
        <h1 class="w3-center">Our {{title}}</h1><br>
        <h2>hello!!</h2><br>
        <p>Welcome</p>
        </div>
        <div class="w3-col l6 w3-padding-large">
            <!--From-- https://gfycat.com/discover/jewelry-gifs -->
            <img src="images/gif1.gif" alt="gif">
        </div>

    </div>

