<!--File name: index.hbs
Author's name: Simranpreet Kaur (200427339)
Website name: http://localhost:3000/ and https://simranpreet-kaur-jewels-house.herokuapp.com/
 Description: This is the view for the main or "home" page  -->

<!--Adding content to home page-->
<h1>{{title}}</h1>

<!--Adding partial header-->
{{> header}}
<div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
        <h1 class="w3-center">Our {{title}}</h1><br>
        <h2>Hi!!</h2><br>
        <p>It's a great pleasure to welcome you to our online store. Bringing the best in design and craftsmanship to its choice from a younger to the 85 older person.</p><br>
        <h3>"Taking your jewellery wishes into reality"</h3>
    </div>
    <div class="w3-col l6 w3-padding-large">
        <!--Adding image-->
        <!--From-- https://gfycat.com/discover/jewelry-gifs -->
        <img src="images/gif1.gif" alt="gif">
    </div>

</div>

