<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!--Adding Bootstrap-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    {{{body}}}
  </body>

<script scr="/javascripts/bootstrap.min.js"></script>
</html>
