<!--File name: projects.hbs
Author's name: Simranpreet Kaur
Website name: http://localhost:3000/ and https://simranpreet-kaur-jewels-house.herokuapp.com/
 Description: This is the view for the projects page  -->

<div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
        <h1 class="w3-center">Projects of Jewels House</h1><br>
        <h2>hello!!</h2><br>
        <p>Projects are:</p>
    </div>


    <div class="w3-row w3-padding-32">
        <div class="w3-third">
            <p>Rings</p>
            <!--From-- https://gfycat.com/discover/jewelry-gifs -->
            <img src="images/ring.gif" alt="ring gif">
        </div>
        <div class="w3-third">
            <p>Necklace</p>
            <!--From-- https://gfycat.com/discover/jewelry-gifs -->
            <img src="images/necklace.gif" alt="nacklace gif">
        </div>
        <div class="w3-third">
            <p>Bracelets</p>
            <!--From-- https://gfycat.com/discover/jewelry-gifs -->
            <img src="images/bracelet.gif" alt="bracelet gif">
        </div>

    </div>
</div>
