<!--File name: services.hbs
Author's name: Simranpreet Kaur (200427339)
Website name: http://localhost:3000/ and https://simranpreet-kaur-jewels-house.herokuapp.com/
 Description: This is the view for the services page -->

<!--Adding services content-->
<div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
        <h1 class="w3-center">Jewels House Services}</h1><br>
        <p>Jewels House has been announcing a bundle of sercices since 2015 that are:</p><br>
        <ul>
        <li>25% offer on Diwali purchases</li>
        <li>Can exchange anytime when you buy it through online</li>
        <li>Can avail an offer of 15% cashback when you pay it through Paytm</li>
        <li>Pre booking reduces the making charges to 50%</li>
        <li>Contactless delivery right at your door when you select items from the nearby store</li>
        </ul>
    </div>
    <div class="w3-col l6 w3-padding-large">
        <!--Adding image-->
        <!--From-- https://gfycat.com/discover/jewelry-gifs -->
        <img src="images/service.gif" alt="service gif">
    </div>

</div>
