body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}


footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 10px;
}
